 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class = "confirmation-message">
<i class="large material-icons icon-green">thumb_up</i>
<h6>If the email or phone number you entered is verified, a link will be sent to the email or phone.</h6>
</div>
</body>

<style>
i.icon-green {
    color: green;
    margin-left : 47%;
}

.confirmation-message{
    margin-top : 30%;
    
}
.confirmation-message h6{
  margin-left : 25%;
  color: #008CBA;
}
</style>
</html>